venv/*
.idea/*
monitor_api.wsgi
activate_venv.bat
requirements.txt
app/__pycache__/
app/config.py
befehle_putty.txt
flask_session/*
python
python3
python3.4
gunicorn-error.log
app/.idea/app.iml
app/.idea/encodings.xml
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
app/__init__.pyc
*.pyc
