<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
    <link type="text/css" href="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ url_for('static', filename='lib/datatables/datatables.min.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="header"></div>
<div class="container">
     <div class="logo">
      <a href="http://www.ioer-monitor.de" target="_blank"><div class="image"></div></a>
    </div>
    <div id="navbar"></div>
    <hr class="hr"/>
</div>
<div id="root"></div>

</body>
<script src="{{ url_for('static', filename='lib/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/react/react-dom.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/react/JSXTransformer.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
<script src="{{url_for('static',filename='js/user/Menu.jsx')}}" type="text/jsx"></script>
<script src="{{url_for('static',filename='js/user/ApiKey.jsx')}}" type="text/jsx"></script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
<script type="text/javascript">
     var button_text = 'Kopieren',
        key = '{{ key }}',
        username='{{ username }}',
        user_id='{{ user_id }}',
        url_base = window.location.origin+'/monitor_api',
        host="{{ host }}";
    if(key==='None' || !key){
        button_text="Generieren";
        key=' ';
    }
</script>
</html>