{% extends "bootstrap/base.html" %}

{% block title %}
IÖR-Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <div class="container landing_choice">
        <a href="http://www.ioer-monitor.de" target="_blank">
            <div class="landing_logo"></div>
        </a>
    </div>
    <div class="container landing_choice">
        <h3>Zur Nutzung unserer Downloaddienste benötigen Sie einmalig einen API-Key. Diesen erhalten Sie nach Registrierung.</h3>
        <hr class="w-100"/>
        <div class="w-50 float-left">
             <h2>Anmeldung</h2>
             <a href="{{ '%slogin'%(host)}}"><button type="button" class="btn btn-primary">Anmelden</button></a>
        </div>
        <div class="w-50 float-right">
            <h2>Registrierung</h2>
            <a href="{{ '%ssignup'%(host)}}"><button type="button" class="btn btn-primary">Registrieren</button></a>
        </div>
    </div>
{% endblock %}