{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Passwort zurücksetzen
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <div class="header">
        <h2>Passwort zurücksetzen</h2>
    </div>
    <div class="container logo">
        <a href="http://www.ioer-monitor.de" target="_blank"><div class="image"></div></a>
    </div>
    <div class="container w-50">
     {% if error %}
      <p class="error_message"><strong>Fehler:</strong> {{ error }}
      {% endif %}
     {% if form_mail %}
      <b>Geben Sie ihre E-Mail Adresse ein und wir senden Ihnen einen Link um dieses zurückzusetzen.</b>
         <hr/>
      <form class="form-signin" method="POST">
        <!--<h2 class="form-signin-heading">Please sign in</h2>-->
        {{ form_mail.hidden_tag() }}
        {{ wtf.form_field(form_mail.email) }}
        <button class="btn btn-lg btn-primary btn-block w-50" type="submit">Sende Mail zum Zurücksetzen des Passwortes</button>
      </form>
    {% endif %}
    {% if confimed %}
       <div class="container w-75">
            <div class="well well-lg">
                <div class="alert alert-success" role="alert">
                    <h3>Die Mail zum zurücksetzen des Passwortes wurde versand.</h3>
                </div>
                <a href="https://monitor.ioer.de/monitor_api/">
                    <button class="btn btn-lg btn-primary btn-block w-50">Startseite</button>
                </a>
            </div>
        </div>
    {% endif %}
    {% if reset_form %}
        <b>Geben Sie bitte ihr neues Passwort ein.</b>
        <hr/>
        <form class="form-signin" method="POST">
        <!--<h2 class="form-signin-heading">Please sign in</h2>-->
        {{ reset_form.hidden_tag() }}
        {{ wtf.form_field(reset_form.password) }}
        {{ wtf.form_field(reset_form.repeat_password) }}
        <button class="btn btn-lg btn-primary btn-block w-50" type="submit">Passwort ändern</button>
      </form>
    {% endif %}
    {% if reseted %}
         <div class="container w-75">
            <div class="well well-lg">
                <div class="alert alert-success" role="alert">
                    <h3>Ihr Passwort wurde zurückgesetzt</h3>
                </div>
                <h4>Bitte melden Sie sich jetzt an.</h4>
                <a href="https://monitor.ioer.de/monitor_api/login">
                    <button class="btn btn-lg btn-primary btn-block w-50">Anmelden</button>
                </a>
            </div>
        </div>
    {% endif %}

    </div> <!-- /container -->
{% endblock %}