<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
    <link type="text/css" href="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ url_for('static', filename='lib/datatables/datatables.min.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="header"></div>
<div class="container">
     <div class="logo">
      <a href="http://www.ioer-monitor.de" target="_blank"><div class="image"></div></a>
    </div>
    <div id="navbar"></div>
    <hr class="hr"/>
</div>
<div class="container services">
   <form>
        <label class="radio-inline">
          <input type="radio" name="optradio" value="wfs" checked>WFS
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio" value="wcs" >WCS
        </label>
      </form>
    <table id="service_table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Indikator</th>
            <th>URL</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Indikator</th>
            <th>URL</th>
        </tr>
        </tfoot>
    </table>
</div>
</body>
<script src="{{ url_for('static', filename='lib/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/react/react-dom.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/react/JSXTransformer.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{url_for('static',filename='js/user/Menu.jsx')}}" type="text/jsx"></script>
<script src="{{ url_for('static', filename='js/user/service.js') }}"></script>
<script src="{{url_for('static',filename='lib/datatables/datatables.min.js')}}"></script>
<script type="text/javascript">
    var access_role = {{access}},
        key="{{ key }}",
        host="{{ host }}";
</script>
</html>