@import "styles.css";

.header{
    margin-top: 0;
    width: 100%;
    height:50px;
    background-color: #4E60AA;
}
.header h2{
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 1vh;
}
/*
Navbar
 */
 .navbar{
     width:100%;
     background-color: lightgrey !important;
 }
 .navbar ul li button{
     margin-left: 2vh;
 }
 .navbar .logout .btn{
    color:white;
}