:root{
    --main-color:#4E60AA;
    --active-color:#8CB91B
}
.w-50{
    width: 50% !important;
}
.w-75{
    width:75%;
}
.w-100{
    width:100% !important;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.cursor{
    cursor: pointer !important;
}
.el-disabled{
    cursor: not-allowed !important;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5;
}
